body {
    font-family: "Ubuntu";
    font-size: "25px";
    text-align: center;
    background-color: #524E4D;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2000;
}

.container {
    margin-top: 5%;
    font-family: "Ubuntu";
    font-size: "50px";
    color: #FFF;
}

.container p {
    font-size: 50px;
    margin-bottom: 2px;
}

.left {
    text-align: left;
    padding-right: 200%
}

.popup {
    display: none;
    position: absolute;
    z-index: 1;
    left: 35%;
    overflow: auto;
    top: 25%;
    width: 30%;
    height: 50%;
    opacity: 90%;
    background-color: black;
}

@keyframes slideIn {
    from { top: 0%; opacity: 10% }
    to { top: 25%; opacity: 90% } 
}

.currentGuess {
    margin-left: 30%;
    margin-right: 30%;
    background-color: #333130;
    border-radius: 25px
}

.wrong {
    color: #A1A1A1
}

.contains {
    color: yellow
}

.correct {
    color: green
}

.red {
    color: red
}

button {
    background-color: darkblue;
    border: #524E4D;
    border-radius: 10px
}

button:hover {
    background-color: gray;
    border: #524E4D;
    border-radius: 10px
}